<!doctype html>
<html lang="en">
<head>
  <title>Demo Flask-Vite</title>
  {{ vite_tags() }}
</head>
<body class="bg-gray-100">
<div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl my-8">
  {% include "card.j2" %}
</div>
</body>
</html>
